<div id="news-page-greeting">
  Hello and welcome to James World, the site run for James, by James.
</div>

<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1">
<div class="ws_images"><ul>
		<li><img src="data1/images/appacademygraduation.jpg" alt="App Academy Graduation" title="App Academy Graduation" id="wows1_0"/></li>
		<li><img src="data1/images/img_2480.jpg" alt="I love to explore." title="I love to explore." id="wows1_1"/></li>
		<li><img src="data1/images/brain.jpg" alt="my two favorite things: brains and computers." title="my two favorite things: brains and computers." id="wows1_2"/></li>
		<li><img src="data1/images/img_0159.jpg" alt="No stranger to the stage." title="No stranger to the stage." id="wows1_3"/></li>
		<li><img src="data1/images/img_4805.jpg" alt="The Bay is home" title="The Bay is home" id="wows1_4"/></li>
		<li><img src="data1/images/img_3613.jpg" alt="Every serious musician needs a keytar" title="Every serious musician needs a keytar" id="wows1_5"/></li>
		<li><a href="http://wowslider.net"><img src="data1/images/img_4291.jpg" alt="http://wowslider.net/" title="Nothing beats a bowtie." id="wows1_6"/></a></li>
		<li><img src="data1/images/studio.jpg" alt="my happy place." title="my happy place." id="wows1_7"/></li>
	</ul></div>
<div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">jquery slideshow</a> by WOWSlider.com v8.7.1m</div>
<div class="ws_shadow"></div>
</div>
<script type="text/javascript" src="engine1/wowslider.js"></script>
<script type="text/javascript" src="engine1/script.js"></script>
<!-- End WOWSlider.com BODY section -->
