<div class="sports-page" ng-controller="sportsController">
  <div id="news-page-greeting">
    Hi, and welcome to the news page here at James World! Below you will
    find the latest top stories from James's favorite sites, including
    HackerNews and TechCrunch.
  </div>
  <div class="music-main-body">
    <div class="playlists">
      <div class="single-playlist">
        <div class="playlist-title">
          Work
        </div>
        <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Aja.hatch512%3Aplaylist%3A0WiWZgjTWltx1rPElUCokT" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
      </div>
      <div class="single-playlist">
        <div class="playlist-title">
          Play
        </div>
        <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Aja.hatch512%3Aplaylist%3A12AeCwM8RDhAmRyrSCyCtf" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
      </div>
      <div class="single-playlist">
        <div class="playlist-title">
          Relax
        </div>
        <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Aja.hatch512%3Aplaylist%3A0n817yXFzcswpYHNkMVR9j" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
      </div>
    </div>
  </div>
</div>
