#app {
  width: 100%;
  height: 100vh;
  background-color: #222222;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 860px;
}
body {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  align-self: center;
  color: #24CF5F;
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}
h3 {
  color: #3498db;
  font-size: 1.17em;
  margin: 10px 0px;
  border-bottom: 3px outset #3498db;
}

@keyframes headerColor {
    0%   {color: #e74c3c;}
    100% {color: #3498db;}
}

.logo-link {
  color: #3498db;
  text-decoration: none;
  animation-name: headerColor;
  animation-duration: 6s;
}

.banner {
  width: 90%;
  height: 100px;
  line-height: 100px;
  border-bottom: 3px solid #3498db;
  border-radius: 3px;
  margin-bottom: 10px;
  text-align: center;
  justify-content: center;
  color: #3498db;
  font-size: 80px;
  text-shadow:
}

.nav-bar {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.anchors {
  font-size: 30px;
  color: #24CF5F;
  transition: all .2s ease-in-out;
}

.anchors:link {
  text-decoration: none;
}

.anchors:hover {
  transform: scale(1.1);
}

.main-body {
  width: 90%;
  height: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  color: #24CF5F;
  position:fixed;
  bottom: 0px;
  height:80px;
}

 .fa {
  color: #24CF5F;
  margin: 30px;
  padding-bottom: 40px;
  text-decoration: none;
}
